<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Channel Subscription Servlets</display-name>
	<context-param>
		<param-name>BDBstore</param-name>
		<param-value>database</param-value>
	</context-param>
	<servlet>
		<servlet-name>session1</servlet-name>
		<servlet-class>test.edu.upenn.cis455.SessionServlet1</servlet-class>
		<!-- Load this servlet at server startup time -->
		<load-on-startup />
	</servlet>

	<servlet>
		<servlet-name>session2</servlet-name>
		<servlet-class>test.edu.upenn.cis455.SessionServlet2</servlet-class>
		<!-- Load this servlet at server startup time -->
		<load-on-startup />
	</servlet>

	<servlet>
		<servlet-name>session3</servlet-name>
		<servlet-class>test.edu.upenn.cis455.SessionServlet3</servlet-class>
		<!-- Load this servlet at server startup time -->
		<load-on-startup />
	</servlet>
	<servlet>
		<servlet-name>xpath</servlet-name>
		<servlet-class>edu.upenn.cis455.servlet.XPathServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xpath</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xpath</servlet-name>
		<url-pattern>/register.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>session1</servlet-name>
		<url-pattern>/session1</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>session2</servlet-name>
		<url-pattern>/session2</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>session3</servlet-name>
		<url-pattern>/session3</url-pattern>
	</servlet-mapping>

	<!-- add any additional servlets and servlet mappings here -->

</web-app>
